<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.kakao.pay.luck.mapper.LuckDBMapper">
	<select id="selectNow" resultType="string">
		SELECT DATE_FORMAT(NOW() , '%Y-%m-%d') AS NOW
	</select>
  
	<insert id="insertLuck" parameterType="me.kakao.pay.common.domain.Luck" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO TBL_LUCK (
			BLESSER_ID, ROOM_ID, 
			AMOUNT, MAX_GRABBER_COUNT, 
			BLESSING_DATE, TOKEN
		) VALUES (
			#{blesserId}, #{roomId}, 
			#{amount}, #{maxGrabberCount}, 
			NOW(), #{token}
		)
	</insert>
	
	<insert id="insertLuckDetail" parameterType="me.kakao.pay.common.domain.LuckDetail" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO TBL_LUCK_DETAIL (
			LUCK_SEQ, AMOUNT
		) VALUES (
			#{luckSeq}, #{amount}
		)
	</insert>
	
	<select id="countSameToken" parameterType="me.kakao.pay.common.domain.Luck" resultType="int">
		SELECT COUNT(*) 
		  FROM TBL_LUCK 
		 WHERE TOKEN = #{token}
		   AND ROOM_ID = #{roomId}
		   AND BLESSER_ID = #{blesserId}
		   AND BLESSING_DATE >= (NOW() - INTERVAL ${expiredDays} DAY)
	</select>
	
	<select id="selectLuck" parameterType="me.kakao.pay.common.domain.Luck" resultType="me.kakao.pay.common.domain.Luck">
		SELECT 
		  SEQ, BLESSER_ID, ROOM_ID , AMOUNT, 
		  MAX_GRABBER_COUNT, BLESSING_DATE, TOKEN
		  FROM TBL_LUCK 
		 WHERE TOKEN = #{token} 
		   AND ROOM_ID = #{roomId} 
		   <if test="blesserId != null and !''.equals(blesserId)">
		   AND BLESSER_ID = #{blesserId}
		   </if>
	</select>

	<select id="selectLuckDetail" parameterType="me.kakao.pay.common.domain.Luck" resultType="me.kakao.pay.common.domain.LuckDetail">
		SELECT * FROM TBL_LUCK_DETAIL WHERE LUCK_SEQ = #{seq}
	</select>
	
	
	<select id="selectVaildGrabLuckDetail" parameterType="me.kakao.pay.common.domain.Luck" resultType="me.kakao.pay.common.domain.LuckDetail">
		SELECT D.*
		  FROM TBL_LUCK_DETAIL D LEFT JOIN TBL_LUCK_GRAB_RECORD G ON D.SEQ = G.LUCK_DETAIL_SEQ
		 WHERE G.LUCK_DETAIL_SEQ IS NULL
		   AND D.LUCK_SEQ = #{seq}
	</select>
	
	<insert id="insertLuckGrabRecord" parameterType="me.kakao.pay.common.domain.LuckGrabRecord" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO TBL_LUCK_GRAB_RECORD (
			LUCK_SEQ, LUCK_DETAIL_SEQ, GRAB_USER_ID, GRAB_DATE
		) values (
			#{luckSeq}, #{luckDetailSeq}, #{grabUserId}, NOW()
		)
	</insert>
	
	<select id="selectLuckGrabRecord" parameterType="me.kakao.pay.common.domain.LuckGrabRecord" resultType="me.kakao.pay.common.domain.LuckGrabRecord">
		SELECT G.*
		  FROM TBL_LUCK_GRAB_RECORD G, TBL_LUCK_DETAIL D
		 WHERE G.LUCK_DETAIL_SEQ = D.SEQ
		   AND D.LUCK_SEQ = #{luckSeq}
		   AND G.GRAB_USER_ID = #{grabUserId}
	</select>
	
	<select id="countGrabRecord" parameterType="int" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_LUCK_GRAB_RECORD G, TBL_LUCK L 
		 WHERE L.SEQ = G.LUCK_SEQ
		   AND L.SEQ = #{luckSeq}
	</select>
	
	<select id="isVaildDateTimeLuck" parameterType="me.kakao.pay.common.domain.Luck" resultType="boolean">
	<if test="expiredDays gt 0">
 		SELECT IF(BLESSING_DATE >= (NOW() - INTERVAL ${expiredDays} DAY), 'false', 'true') AS IS_EXPIRED
	</if>
	<if test="expiredMinutes gt 0">
 		SELECT IF(BLESSING_DATE >= (NOW() - INTERVAL ${expiredMinutes} MINUTE), 'false', 'true') AS IS_EXPIRED
	</if>
		  FROM TBL_LUCK L 
		 WHERE TOKEN = #{token} 
		   AND ROOM_ID = #{roomId} 
	</select>
	
	<select id="selectLuckRecord" parameterType="me.kakao.pay.common.domain.Luck" resultType="me.kakao.pay.common.domain.LuckRecord">
 		SELECT 
 		  (SELECT IFNULL(SUM(TLD.AMOUNT), 0) FROM TBL_LUCK_GRAB_RECORD TLGR LEFT JOIN TBL_LUCK_DETAIL TLD ON TLGR.LUCK_DETAIL_SEQ = TLD.SEQ WHERE TLD.LUCK_SEQ = L.SEQ)  AS TOTAL_GRABBED_AMOUNT,
 		  IFNULL((SELECT COUNT(*) FROM TBL_LUCK_GRAB_RECORD R WHERE R.LUCK_SEQ = L.SEQ), 0) AS TOTAL_LUCKY_MEMBER_COUNT,
		  SEQ, BLESSER_ID, ROOM_ID , AMOUNT, 
		  MAX_GRABBER_COUNT, BLESSING_DATE, TOKEN,
		  DATE_FORMAT(BLESSING_DATE, '%Y-%m-%d') AS BLESSDATE, 
		  DATE_FORMAT(BLESSING_DATE, '%H:%I') AS BLESSTIME
		  FROM TBL_LUCK L 
		 WHERE TOKEN = #{token} 
		   AND ROOM_ID = #{roomId} 
		   AND BLESSER_ID = #{blesserId}
	</select>
	
	<select id="selectLuckGrabRecordBySeq" parameterType="int" resultType="me.kakao.pay.common.domain.LuckyMember">
		 SELECT D.AMOUNT, G.GRAB_USER_ID AS USER_ID
		   FROM TBL_LUCK_DETAIL D, TBL_LUCK_GRAB_RECORD G 
		  WHERE G.LUCK_DETAIL_SEQ = D.SEQ
		    AND G.LUCK_SEQ = #{luckSeq}
	</select>
</mapper>